<html>
    <head>
        <script>
            function popup(){
                var url = 'http://localhost:8000/popup';
                var option = 'width = 500, height = 500, top = 100, left = 200 ';

                window.opne(url, option);
            }

        </script>
    </head>
    <body>
        <div>

        </div>
        <a href = "javascript:popup()" target="_blank">팝업</a>
    </body>
</html>