<html>
    <head>
        <title>안내</title>
    </head>
    <body>
        <div>
            <span> 안내 말씀 드립니다.</span>
            <button type="">오늘 그만보기</button> <button type="close">닫기</button>
        </div>
    </body>
</html>